{% extends "base.html"%}
{% load crispy_forms_tags  %}
{% block maincontent %}
{% load cart_tag %}

<style>
    button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(245, 181, 61);
  text-align: center;
  cursor: pointer; 
  font-size: 18px;
}
</style>

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
              <li><a href="http://localhost:8000/e_shopper/homepage/">Home</a></li>
              <li class="active">Your Orders</li>
            </ol>
        </div>
        <h2 class="title text-center">Your Orders</h2>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description">Name</td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td class="status">Status</td>
                        <td class="detail">Detail</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in order  %}
                    <tr>
                        <td class="cart_product">
                            <a href="{% url 'product_details' i.id %}"><img src="{{i.image}}" alt="" height="50px";></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{i.product}}</a></h4>
                        <td class="cart_price">
                           <h4><p>₹{{i.price}}</p></h4>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <h4> {{i.quantity}}</h4>
                            </div>
                        </td>
                        <td class="cart_total">
                            <h4><p class="cart_total_price">₹{{ i.total}}</p></h4>
                        </td>
                        <td class="cart_delete"> 
                            <span class="badge rounded-pill bg-success">{{i.status}}</span>
                        </td>
                        <td class="cart_total">
                            <a href="{% url 'order_detail' i.id %}"><button class="btn btn-outline-warning">View</button></a>
                        </td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->
{% endblock %}